    @mixin size($width,$height:$width){
        width:$width;
        height: $height;
    }
    $green-color: green;
    html{
        font-size: 62.5%;
    }
    .work{
        width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        list-style: none;
        &_heading{
            color: black;
            font-size: 3rem;
            font-weight:bold;
            position: relative;
            padding-bottom: 1rem;
            &:before{
                content:"";
                @include size(3.5rem,10px);
                background-color: $green-color;
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
        &_filter{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
        }
        &_tab{
            display: flex;
            &-item{
            cursor: pointer;
            padding: 1rem 2rem;
            border: 2px solid $green-color;
            border-radius:2rem 0 2rem 2rem; 
            &:not(:first-child){
                margin-left: 1rem;
            }
            &:hover{
                color: white;
                background-color: $green-color;
            }
            }
        }
        &_all{
            display: inline-block;   
            color: white    ;
            text-decoration: none;
            font-size: 2.5rem;
            background-color: $green-color;
            padding: 10px;  
            border-radius: 2rem;
            // @include size(3rem,3rem);
        }
        &_list{
            display: flex;
            width: 25%;


        }
        @media screen and (max-width: 1023px) {
            // .work{
            //     &_item{
            //         wwid
            //     }
            // }
        }
    }   






